ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: gray;
    text-align: center;
    padding: 1vw 1vw;
    text-decoration: none;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #333;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 10vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: gray;
    padding: 1vw 1vw;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .dropdown-content a:hover {background-color: #333;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .mainimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    width: 85%;
  }

  .rightdiv {
    float: right;
    width: 45%;
    padding: 1%;
    margin-bottom: 4%;
    color: gray;
  }
  
  .rightdiv img {
    width: 98%;
  }

  .leftdiv {
    float: left;
    width: 45%;
    padding: 1%;
    margin-bottom: 4%;
    color: gray;
  }

  .leftdiv img {
    width: 98%;
  }

  .middiv {
    display: block;
    position: static;
    text-align: center;
    width: 85%;
    margin: auto;
    margin-top: 4%;
    float: none;
  }

  body {
    background-color: black;
    color: white;
  }

  body h1 {
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #6e600a;
  }

  body p {
    padding-top: 2%;
    font-size: 2vw;
    color: gray;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
  }

  #history {
    font-size: 4vw;
    color: gray;
    border-bottom: 2px #6e600a;
    border-top: 2px #6e600a;
  }